﻿/* -------------------------
Luke Prendergast
Copyright 2016
www.seanmoloneyltd.co.uk
------------------------- */

@charset "utf-8";
@import 'mixins.less';

.form {margin:40px 0;}
.form div {margin:0 0 10px 0;}
.form h2 {border-bottom:1px solid @main-colour; width:100%; margin:40px 0 20px;}

.form label, .form input, .form textarea, .form select {font-family:'Open Sans', sans-serif;}
.form input, .form textarea, .form select {border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; box-sizing:border-box;}
.form label {float:left; font-size:15px; display:block; width:100px; color:@very-dark-grey; line-height:40px; text-align:right; padding-right:10px;}
.form label em {font-size:11px; color:@grey;}
.form input, .form textarea, .form select {font-size:13px; color:@grey; padding:5px; background-color:white; border:1px solid @light-grey;}
.form input, .form select {width:220px;}
.form input.rad {width:auto; border:none; padding:7px 0 0 0; height:auto;}
.form input, .form select {height:40px;}
.form textarea {width:350px; height:175px;}
.form input:hover, .form input:focus, .form textarea:hover, .form textarea:focus, .form select:hover, .form select:focus {border:1px solid @main-colour;}
.form input.rad:hover, .form input.rad:focus {border:none;}
.form input.button {color:white; font-size:14px; border:0; padding:0; height:55px; line-height:55px; margin:20px 0 20px 110px; background-color:@main-colour;}
.form input.button:hover {background-color:@main-colour-hover; cursor:pointer;}
a:hover {text-decoration:none;}


/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 1000px)
{
	
}
@media (max-width: 800px)
{
    form {width:100%;}
    .form label {float:none; width:100%; text-align:left; padding-right:0;}
    .form input, .form textarea, .form select {padding:5px 2%;}
    .form input, .form select {width:96%;}
    .form textarea {width:96%;}
    .form input.button {margin:20px 0;}
}
@media (max-width: 675px)
{
	
}
@media (max-width: 600px)
{
	
}
@media (max-width: 500px)
{
	
}
@media (max-width: 400px)
{
	
}