﻿/* -------------------------
Luke Prendergast
Copyright 2016
www.seanmoloneyltd.co.uk
------------------------- */

@charset "utf-8";
@import 'mixins.less';

body
{
    background:  white;
    font-family: 'Open Sans', sans-serif;
}

/*** CONTENT CLASSES ***/
h1
{
    font-size:      50px;
    color:          @very-dark-grey;
    margin:         0 0 60px 0;
    letter-spacing: -3px;
    font-weight:    @light;
}

h1.home
{
    font-size:   75px;
    line-height: 70px;
}

h1.home a:hover
{
    text-decoration: none;
}

h1.home span
{
    font-size:   40px;
    display:     block;
    line-height: 60px;
}

h2
{
    font-size:      30px;
    color:          @main-colour;
    margin:         50px 0 20px 0;
    letter-spacing: -2px;
    font-weight:    @light;
}

h3
{
    font-size: 24px;
    color:     @dark-grey;
    margin:    30px 0 10px 0;
    letter-spacing: -1px;
    font-weight: @bold;
}

p, ul.list-none li, ul.list-points li {font-size:17px; color:@very-dark-grey; line-height:1.5; font-weight:@regular;}
p {margin:0 0 15px 0;}
.error, .success {padding:15px 60px; background-repeat:no-repeat; background-position:10px 15px; margin-bottom:20px;}
.error {color:@red; background-color:@light-red; background-image:url(../img/content/error.png);}
.success {color:@green; background-color:@light-green; background-image:url(../img/content/success.png);}
.breadcrumb {font-size:13px; margin-bottom:20px; display:block;}
ul.list-none li, ul.list-points li {margin:5px 0; list-style:none;}
ul.list-none li:before, ul.list-points li:before {
    content:        "\f111";
    font-family:    FontAwesome;
    color:          @main-colour;
    margin-right:   15px;
    font-size:      10px;
    vertical-align: middle;
}
ul.list-none li a {color:@main-colour;}
ul.list-points, ul.list-none {margin:10px 0 15px 0; list-style:none;}
ul.list-points li {margin:5px;}
a:link, a:visited {color:@main-colour; text-decoration:none;}
a:hover {text-decoration:underline;}
strong {font-weight:@bold;}

/* Table Styles */
table {width:100%;}
table td {padding:8px 7px; color:@very-dark-grey; font-size:12px;}
thead th {padding:10px 0; color:white; background-color:@grey; font-size:14px; text-align:left;}
thead.short th {padding:8px 0; font-size:12px; font-weight:@bold;}
thead th span {padding:0 7px;}
.table-sub-header td {background-color:@light-grey; text-align:center; font-weight:@bold;}

.table-row0 {background-color:white;}
.table-row1 {background-color:@very-light-grey;}
tr.table-row0:hover td, tr.table-row1:hover td, tr.table-row0:hover td a:link, tr.table-row1:hover td a:link {background-color:@main-colour; color:white; text-decoration:none;}

/* Site Map */
ul.level-1 {font-weight:@bold;}
ul.level-1 li {margin-bottom:10px;}
ul.list-none ul {margin-left:20px; margin-bottom:20px; font-weight:normal;}
ul.list-none ul ul {margin-left:20px;}
/* Site Map End */


/*** LAYOUT CLASSES ***/

.blue {background-color:@main-colour;}
.blue:hover {background-color:@main-colour-hover;}
.orange {background-color:@accent-colour1;}
.orange:hover {background-color:@accent-colour1-hover;}
.dark-grey {background-color:@very-dark-grey;}
.dark-grey:hover {background-color:@grey;}
.light-grey {background-color:@light-grey;}
.very-light-grey {background-color:@very-light-grey;}
.white {background-color:white;}

.no-border {border:none;}
.no-padding {padding:0;}

.float-left {float:left;}
.float-right {float:right;}

.margin-right {margin-right:14px;}

.stretch-parent {width:100%; margin:0 auto; text-align:justify; -ms-text-justify:distribute-all-lines; text-justify:distribute-all-lines;}
.stretch-child {vertical-align:top; display:inline-block; *display:inline; zoom:1;}
.stretch-child p, .stretch-child h2, .stretch-child h3, .stretch-child td {text-align:left;}
.stretch {width:100%; display:inline-block; font-size:0; line-height:0}

.clearfloat {clear:both; height:0; font-size:1px; line-height:0;}

a.btn {display:block; padding:16px; font-size:15px; margin-top:15px; color:white; text-align:center;}
a.btn:hover {text-decoration:none;}

/* Sections */
.row {clear:both; padding:0; margin:0 0 14px 0;}
.row p {margin:0 0 4px 0;}
/* Sections End */

/* Column Setup */
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3 {width:34%;}
.col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:64%;}
.col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {width:100%;}
.col-1-x-1, .col-2-x-1, .col-3-x-1 {min-height:200px;}
.col-1-x-1-5, .col-2-x-1-5, .col-3-x-1-5 {min-height:300px;}
.col-1-x-2, .col-2-x-2, .col-3-x-2 {min-height:400px;}
.col-1-x-3, .col-2-x-3, .col-3-x-3 {min-height:600px;}
.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3, .col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {overflow:hidden;}

.col-1-x-2 div {height:193px; margin-bottom:14px;}
/* Column Setup End */


/*** MASTER LAYOUT ***/

header, footer {float:left; min-width:100%;}
header {margin-bottom:35px;}
footer {margin-top: 35px;}
.content {max-width:960px; margin:0 auto; padding:0 10px;}
.inner-container {padding:10px;}
header .logo {float:left; margin:20px 0; border:0; height:50px;}
#main-content {margin-right:300px; padding-bottom:40px;}
#menu-bar {background-color:@very-dark-grey;}
#contact-bar {font-size:16px; padding:15px 0; text-align:center;}
#contact-bar span.phone {
    margin-right: 12px;
}
#contact-bar span.phone:before, #contact-bar span.email:before {
    font-family:  FontAwesome;
    color:        @dark-grey;
    margin-right: 4px;
}
#contact-bar span.phone:before {
    content: "\f095";
}
#contact-bar span.email:before {
    content: "\f0e0";
}
.parallax-window {
    min-height: 250px;
    background: transparent;
    width:      100%;
    background-attachment: fixed;
}
#header-image {display:none; background-image:url(../img/layout/banner-image.jpg); width:100%; height:300px; background-position:center; background-size:cover; position:relative;}


/* EU Cookie Law */
#eucookielaw {display:none; background-color:@main-colour; position:fixed; bottom: 0; width:100%;
}
#eucookielaw .content {padding:10px;}
#eucookielaw p {color:@very-light-grey; font-size:13px; margin:0;}
#eucookielaw a {cursor:pointer;}
#eucookielaw a:hover {text-decoration:none;}

/* Site Navigation */
nav.nav-collapse {width:auto; height:auto; margin:0 auto; padding:0; font-size:14px; text-transform:uppercase;}
nav.nav-collapse ul {width:auto; list-style:none; margin:0; padding:0; float:right; display:block;}
nav.nav-collapse li {float:left; padding:0; display:block;}
nav.nav-collapse li a {display:block; padding:13px 20px; height:100%; border-right:1px solid @grey; margin:25px 0; color:white;}
nav.nav-collapse li a.no-border {border:none;}
nav.nav-collapse li a:link {text-decoration:none; color:white;}
nav.nav-collapse li a:hover, nav.nav-collapse li a.active {color:@main-colour; text-decoration:underline;}
nav.nav-collapse li.alignRight {position:relative;}
nav.nav-collapse li.alignRight ul {right:1px; text-align:right;}
nav.nav-collapse li ul {background:@light-grey; display:none; height:auto; margin:0; padding:0; border:none; position:absolute; width:160px; z-index:200; border-top:2px solid @main-colour; -webkit-box-shadow:0 0 3px 0 @grey; -moz-box-shadow:0 0 3px 0 @grey; box-shadow:0 0 3px 0 @grey;}
nav.nav-collapse li:hover ul {display:block;}
nav.nav-collapse li li {display:block; float:none; margin:0; padding:0;}
nav.nav-collapse li:hover li a {background:none; color:@very-dark-grey;}
nav.nav-collapse li ul a {display:block; font-size:13px; text-transform:none; font-weight:normal; font-style:normal; border-right:0; margin:0; padding:12px 20px;}
nav.nav-collapse li ul a.border-bottom {border-bottom:@dark-grey 1px solid;}
nav.nav-collapse li ul a:hover, nav.nav-collapse li ul li:hover a {background:@main-colour; color:white; text-decoration:none;}
nav.nav-collapse p {clear:left;}

.js .nav-collapse {clip:rect(0 0 0 0); max-height:0; position:absolute; display:block; zoom:1;}
.nav-collapse.opened {max-height:9999px;}
.disable-pointer-events {pointer-events:none !important;}
.nav-toggle {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}
/* Site Navigation End */

/* Footer */
footer #links {background:@very-dark-grey; padding:40px 0;}
footer #links h4 {font-size:16px; font-weight:@bold; text-transform:uppercase; margin-bottom:18px; padding-bottom:4px; border-bottom:1px solid @grey;}
footer span.phone:before, footer span.email:before {
    font-family:  FontAwesome;
    color:        white;
    margin-right: 4px;
}
footer span.phone:before {
    content: "\f095";
}
footer span.email:before {
    content: "\f0e0";
}
footer .content {padding:0 20px;}
footer #links, footer #links a:link, footer #links a:visited, footer li a:link, footer li a:visited {color:white; font-weight:@light;}
footer li, footer span {font-size:16px; text-align:left; margin:0 0 12px 0;}
footer span {display:block;}
footer li:last-child {margin:0;}
footer li a:link, footer li a:visited {text-decoration:none;}
footer li a:hover {text-decoration:underline;}
footer #copyright span {clear:both; background-color:white; font-size:13px; line-height:18px; display:block; text-align:center; margin:0; padding:8px 0;}
/* Footer End */

/* Gallery Pages Start */
.sq-thumb {width:200px; height:200px; background-position:center; float:left; /* Make the background image cover the area of the <div>, and clip the excess */ background-size:cover; position:relative; cursor:pointer;}
.sq-thumb:hover {background-color:@very-dark-grey; background-image:none;}
.sq-thumb:hover:before {content:""; display:block; position:absolute; top:0; bottom:0; left:0; right:0; background:rgba(77,77,77, 0.5); -moz-transition:background .3s linear; -webkit-transition:background .3s linear; -ms-transition:background .3s linear; -o-transition:background .3s linear; transition:background .3s linear;}
.sq-thumb:before {background:none;}
.info {height:40px; position:absolute; bottom:0; left:0; width:100%; background-color:@very-dark-grey; color:white; display:none; font-family:"Myriad Pro", sans-serif; font-size:12px; text-align:center; line-height:40px;}
.sq-thumb:hover .info {display:block;}

#gallery ul {list-style:none;}
#gallery ul li {display:inline;}
#gallery ul img {border:5px solid @very-dark-grey; border-width:5px 5px 20px;}
#gallery ul a:hover img {border:5px solid white; border-width:5px 5px 20px; color:white;}
#gallery ul a:hover {color:white;}
/* Gallery Pages End */

/* Contact Us Start */
#form {width:60%;}
#contact-info {width:26%; padding:30px; margin-left:40px;}
#contact-info h2 {margin:0 0 40px 0;}
#contact-info span {display:block; margin:0 0 20px 0; font-size:15px; line-height:22px;}
#contact-info span.phone:before, #contact-info span.email:before, #contact-info span.address:before {
    font-family:  FontAwesome;
    color:        @main-colour;
    margin-right: 8px;
}
#contact-info span.phone:before {
    content: "\f095";
}
#contact-info span.email:before {
    content: "\f0e0";
}
#contact-info span.address:before {
    content: "\f1ad";
}
#contact-info a:link, #contact-info a:visited {
    color: @very-dark-grey;
}
/* Contact Us End */



/*** MEDIA QUERIES FOR RESPONSIVE LAYOUT ***/

@media (max-width: 1000px)
{
	table td {padding:7px 3px;}
	thead th span {padding:0 3px;}
	
	/* Site Navigation */
	nav.nav-collapse li a {padding-left:15px; padding-right:15px;}
	/* Site Navigation End */

    /* Contact Us Start */
    #contact-info {padding:20px 2%;}
    /* Contact Us End */
}
@media (min-width: 800px)
{
	/* Site Navigation */
	.js .nav-collapse {position:relative;}
	.js .nav-collapse.closed {max-height:none;}
	.nav-toggle {display:none;}
	/* Site Navigation End */
}
@media (max-width: 800px)
{
	.parallax-window {display:none;}
    #header-image {display:block;}
	header .logo {width:300px; height:auto;}

	table {font-size:11px;}

    /* Site Navigation */
	.nav-toggle {background:url(../img/layout/menu.png) no-repeat; width:30px; height:25px; display:block; float:right; margin:40px 20px;}
	nav.nav-collapse ul {width:100%;}
	nav.nav-collapse li {width:100%; text-align:center;}
	nav.nav-collapse li br {display:none;}
	
	nav.nav-collapse {font-size:15px; text-transform:none; font-weight:normal;}
	nav.nav-collapse li a {padding:15px 0; border-right:none; border-bottom:1px solid @grey; margin:0;}
	nav.nav-collapse li span {font-size:inherit;}
	/* Site Navigation End */
    
	/* Column Setup */
	.col-1-x-1, .col-2-x-1, .col-3-x-1, .col-1-x-1-5, .col-2-x-1-5, .col-3-x-1-5, .col-1-x-2, .col-2-x-2, .col-3-x-2, .col-1-x-3, .col-2-x-3, .col-3-x-3 {height:auto;}
	.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3 {width:100%;}
	.col-1-x-1, .col-1-x-1-5, .col-1-x-2, .col-1-x-3, .col-2-x-1, .col-2-x-1-5, .col-2-x-2, .col-2-x-3, .col-3-x-1, .col-3-x-1-5, .col-3-x-2, .col-3-x-3 {margin-bottom:14px;}
	
	.col-1-x-2 div {height:auto; margin-bottom:0;}
	/* Column Setup End */
    
	/* Sections */
	.row {margin-bottom:0;}
	/* Sections End */

    /* Contact Us Start */
    #form {width:100%;}
    #contact-info {width:94%; padding:30px 3%; margin-left:0;}
    /* Contact Us End */
}
@media (max-width: 600px)
{
    
    p, ul.list-none li, ul.list-points li {font-size:15px;}
    #contact-bar {font-size:14px;}

	a.btn {width:100%; text-align:center; padding-left:0; padding-right:0;}
}
@media (max-width: 500px)
{
	h1 {font-size:45px;}
	
	table td, thead th {font-size:11px;}
	thead th {font-weight:@bold;}
	
	header .logo {width:220px;}
	.nav-toggle {margin:30px 15px;}
	
	/* Footer */
	footer {padding-top:20px;}
	footer #copyright span {font-size:11px; padding:8px 0;}
    footer .float-left, footer .float-right {float:none;}
    footer .float-left {margin-bottom:40px;}
	/* Footer End */
}
@media (max-width: 400px)
{
	table td, thead th {font-size:12px;}
	table td {padding:6px 2px;}
	table th {padding:6px 0;}
	thead th span {padding:0 2px;}
	th.hidden, td.hidden {display:none;}

	header .logo {width:180px;}
	.nav-toggle {margin:27px 0;}
}
