/* -------------------------
Luke Prendergast
Copyright 2016
www.seanmoloneyltd.co.uk
------------------------- */

/*
Colours
----------
*/

@main-colour:          #628962;
@accent-colour1:       #B34826;
@main-colour-hover:    #669ed4;
@accent-colour1-hover: #bc6039;

@very-dark-grey:       #333;
@dark-grey:            #555;
@grey:                 #777;
@light-grey:           #CCC;
@very-light-grey:      #EEE;

@red:                  #C52727;
@light-red:            #f3d4d4;
@green:                #218D44;
@light-green:          #c6d6cb;

/*
Font Weights
----------
*/

@bold:    800;
@regular: 400;
@light:   300;
